.page-flats-filter {
  background-color: $gray-245;

  .common-page__header {
    margin-bottom: 40px;
  }
}

.page-flat-plan {
  background-color: $gray-245;

  .common-page__header {
    margin-bottom: 40px;
  }
}

// .site-wrapper {
//   display: flex;
//   flex-direction: column;
//   min-height: 100vh;
// }

// .main {
//   flex-grow: 1;
// }
