.block-out {
  padding-top: 50px;
  padding-bottom: 50px;
  overflow-x: hidden;

  @include mq-min(1024px) {
    padding-top: vh(50);
    padding-bottom: vh(50);
  }
}

.block-out__inner {

}

.block-out__content {
  position: relative;
  z-index: 1;
}

.block-out__picture {
  @include make-fit-object(1000, 600);

  @include mq-min(1024px) {
    margin-left: vh(220);
    margin-right: -15px;

    .block-out--to-left & {
      margin-left: -15px;
      margin-right: vh(220);
    }
  }

  @include mq-min(1280px) {
    margin-right: vh(-50 - 15);

    .block-out--to-left & {
      margin-left: vh(-50 - 15);
    }
  }

  @include mq-min(1440px) {
    margin-left: vh(280);
    margin-right: vh(-70 - 15);

    .block-out--to-left & {
      margin-left: vh(-70 - 15);
      margin-right: vh(280);
    }
  }
}

.block-out__image {
  width: 100%;
}
