.closed-show-form {
  padding-top: 50px;
  padding-bottom: 30px;
  background-color: $secondary-color;

  @include mq-minh($vh-height-bp) {
    padding-top: vh(55);
    padding-bottom: vh(30);
  }
}

.closed-show-form__row {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;

  @include mq-max(1023px) {
    justify-content: center;
  }

  @include mq-min(1024px) {
    flex-wrap: nowrap;
  }
}

.closed-show-form__field {
  width: 100%;

  .field__label {
    @include visually-hidden();
  }

  @include mq-range(568px, 1023px) {
    width: calc((100% - 1 * 20px) / 2);
    margin-right: 20px;
    box-sizing: border-box;

    &:nth-child(2) {
      margin-right: 0;
    }
  }

  @include mq-min(1024px) {
    min-width: vh(220);
    margin-bottom: 0;
    margin-right: vh(20);
  }
}

.closed-show-form__submit {

}

.closed-show-form__agree {
  font-size: rem(15);
  text-align: center;
  color: #4c4136;

  @include mq-min(1024px) {
    max-width: vh(450);
    margin-left: vh(15);
    font-size: vh(15);
    text-align: left;
  }
}
