.common-page {
  padding-top: $height-header-mobile + 25px;
  padding-bottom: 60px;

  @include mq-min(1024px) {
    padding-top: $height-header-desktop + 35px;
  }
}

.common-page__header {
  margin-bottom: 45px;

  @include mq-min(768px) {
    margin-bottom: 85px;
  }
}

.common-page__title {

}

.common-page__body {

}
