.common-features-flat {
  @include clear-list();

  display: flex;
  justify-content: center;
  text-align: center;
}

.common-features-flat__item {
  text-transform: lowercase;
  font-size: rem(14);
  margin-right: 35px;

  &:last-child {
    margin-right: 0;
  }

  @include mq-min (1024px) {
    font-size: vh(14);
  }
}

.common-features-flat__label {
}

.common-features-flat__value {
  display: block;
  font-weight: 700;
  font-size: rem(32);

  @include mq-min (1024px) {
    font-size: vh(32);
  }
}
