.common-plans-slider {
  margin-top: 30px;

  .dot {
    margin-left: 4px;
    margin-right: 4px;
    background-color: $brown-color;
  }

  .flickity-slider {
    display: flex;
  }
}

.common-plans-slider__item {
  width: 100%;
  box-sizing: border-box;

  @include mq-min(568px) {
    padding-left: 5px;
    padding-right: 5px;
    width: calc(100% / 3);
    transform: scale(0.7);
    opacity: 0.7;
    transition: transform $duration * 4, opacity $duration * 4;

    &.is-selected {
      opacity: 1;
      transform: scale(1);
    }
  }
}

.common-plans-slider__wraplink {
  display: block;
  color: $base-color;

  &:hover,
  &:focus {
    color: $base-color;
  }
}

.common-plans-slider__picture {
  @include make-fit-object(1, 1, contain);

  margin-bottom: $gutter;
}

.common-plans-slider__features {
  @include clear-list();

  max-width: 230px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  transition: opacity $duration * 4;

  .common-plans-slider__item.is-selected & {
    opacity: 1;
  }

  @include mq-min(1280px) {
    max-width: vh(230);
  }
}
