.detail-flat {
  padding: 25px 27px;
  border: 1px solid $secondary-color;
  border-radius: $border-radius;
  box-sizing: border-box;
}

.detail-flat__features {
  margin-bottom: 25px;
}

.detail-flat__form {
  margin-bottom: 25px;
}

.detail-flat__actions {
  text-align: center;
}

.detail-flat__to-print {
  padding: 0 17px;
  min-width: auto;
  font-weight: 600;
  text-transform: none;
  color: $brown-color;
  border-radius: 100px;
  background-color: $secondary-color;
  box-shadow: none;
}
