.documents-file {

}

.documents-file__wraplink {
  display: flex;
  align-items: center;
  line-height: 1.15;
  color: $base-color;

  &:hover,
  &:focus {
    color: $base-color;
  }
}

.documents-file__icon-frame {
  // position: relative;
  // display: block;
  width: 75px;
  // height: 100px;
  flex-shrink: 0;
  margin-right: 40px;
}

.documents-file__icon {
  color: $gray-239;

  .documents-file__wraplink:hover &,
  .documents-file__wraplink:focus & {

    &::before {
      background-color: currentColor;
    }
  }
}

.documents-file__body {

}

.documents-file__name {
  display: block;
  margin: 0;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: rem(18);
}

.documents-file__text {
  display: block;
  line-height: 1.25;
  color: $gray-169;
}
