.filter-range-slider {
  height: 3px;
  margin: 15px 8px;
  background-color: $secondary-color-2;
  border: none;
  box-shadow: none;

  .noUi-connect {
    background-color: #003d58;
  }

  .noUi-handle {
    top: calc(14px / -2 + 3px / 2);
    right: calc(14px / -2) !important;
    width: 14px;
    height: 14px;
    background-color: #003d58;
    border: none;
    border-radius: 50%;
    box-shadow: none;
    outline: none;
    cursor: grab;

    &::before,
    &::after {
      content: none;
    }

    &.noUi-active {
      cursor: grabbing;
    }
  }
}
