.flats-cards {
  @include clear-list();

  display: flex;
  flex-wrap: wrap;
}

.flats-cards__item {
  width: 100%;
  margin-bottom: 15px;

  @include mq-min(568px) {
    .flats-cards--display-card & {
      @include calc-column-width(2, 15px);
    }
  }
}
