.flat {
}

.flat__grid {
  @include mq-min(768px) {
    position: relative;
    display: flex;
    align-items: flex-start;
  }
}

.flat__main-column {
  flex-grow: 1;
  margin-bottom: 30px;

  @include mq-min(768px) {
    margin-bottom: 0;
  }
}

.flat__aside-column {
  flex-shrink: 0;

  @include mq-min(768px) {
    position: sticky;
    top: $height-header-desktop--sticky + 15px;
    width: 275px;
    margin-left: 30px;
  }

  @include mq-min(1280px) {
    width: vh(270);
  }
}

.flat__reserved {
  display: inline-flex;
  align-items: center;
  padding: 4px;
  font-size: 12px;
  line-height: 1;
  white-space: nowrap;
  color: $gray-25;
  background-color: #fff59d;
}

.flat__reserved-icon {
  display: block;
  width: 12px;
  height: 12px;
  margin-right: 6px;
  fill: currentColor;
}
