.flat-filters {
  padding: 25px 27px;
  border: 1px solid $secondary-color;
  border-radius: $border-radius;
}

.flat-filters__item {
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }
}
