.flat-territory {

}

.flat-territory__picture {
  img {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  @include mq-min(768px) {
    img {
      max-width: 80vmin;
    }
  }
}
