.flat {
  @include mq-min(768px) {
    display: flex;
  }
}

.flat__plans-area {
  width: 100%;
  flex-grow: 1;
}

.flat__detail-area {
  @include mq-min(768px) {
    width: 275px;
    margin-left: 30px;
    flex-shrink: 0;
  }

  @include mq-min(992px) {
    margin-left: 60px;
  }

  @include mq-min(1280px) {
    width: vh(275);
  }
}
