.flat-filter-buttons {
  display: flex;
  background-color: $gray-245;
  border: 1px solid $secondary-color-2;
  border-radius: $border-radius;
  overflow: hidden;

  input {
    @include visually-hidden();
  }

  label {
    flex-basis: 100%;
    flex-grow: 1;
    padding: 10px 5px;
    font: inherit;
    font-weight: 600;
    font-size: rem(17);
    line-height: rem(25);
    text-align: center;
    background-color: #fafafa;
    user-select: none;
    transition: $duration;

    &:not(:last-child) {
      border-right: 1px solid $secondary-color-2;
    }
  }

  input:hover + label,
  input:focus + label {
    background-color: $secondary-color;
  }

  input:checked + label {
    color: #ffffff;
    background-color: $accent-color;
    border-color: $accent-color;
  }

  @include mq-minh($vh-height-bp) {
    label {
      font-size: vh(17);
    }
  }
}
