.flat-filter {

}

.flat-filter__label {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: rem(13);
  text-transform: uppercase;
  color: #003d58;
}

.flat-filter__control {
  position: relative;
  flex-grow: 1;
}


.flat-filter__controls {
  display: flex;
}

.flat-filter__controls-divider {
  flex-basis: 20px;
}

.flat-filter__placeholder {
  position: absolute;
  left: 15px;
  top: 4px;
  font-size: rem(13);

  @include mq-minh($vh-height-bp) {
    font-size: vh(13);
  }
}

.flat-filter__input {
  padding: 0;
  padding-top: 25px;
  padding-bottom: 6px;
  padding-left: 15px;

  @include mq-minh($vh-height-bp) {
    padding-top: vh(25);
    padding-bottom: vh(6);
    padding-left: vh(15);
  }
}
