.genplan-tooltip {
  padding: 20px;
  padding-bottom: 5px;
  background-color: #fff;
  border-radius: 2px;
  opacity: 0;
  visibility: hidden;
  transition: opacity $duration * 1.5, visibility $duration * 1.5;

  &:hover{
    opacity: 1;
    visibility: visible;
  }

  &--showed {
    opacity: 1;
    visibility: visible;
    transition-delay: $duration / 2;
  }
}

.genplan-tooltip__corner {
  display: none;

  @include mq-min(768px) {
    position: absolute;
    left: -7px;
    display: block;
    width: 16px;
    height: 16px;
    transform: translateY(-50%) rotate(45deg);
    background-color: inherit;
  }
}

.genplan-tooltip__type {
  margin-bottom: 10px;
  font-size: rem(12);
  line-height: 1.15;
}

.genplan-tooltip__type-value {
  display: block;
  font-weight: 700;
  font-size: rem(24);
}

.genplan-tooltip__status {
  display: inline-block;
  margin-left: -8px;
  margin-bottom: 5px;
  padding: 5px 8px;
  font-size: 12px;
  background-color: $secondary-color;
}

.genplan-tooltip__rooms-list {
  @include clear-list();
}

.genplan-tooltip__room {
  border-bottom: 1px solid $secondary-color;

  &:last-child {
    border-bottom: none;
  }
}

.genplan-tooltip__room-wraplink {
  display: flex;
  justify-content: space-between;
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: rem(15);
  text-decoration: none;
  white-space: nowrap;
  color: $base-color;
  transition: color $duration;

  &:hover {
    color: $accent-color;
  }
}

.genplan-tooltip__room-label {
  font-weight: 700;
}

.genplan-tooltip__room-price {
  margin-left: 35px;
  color: $base-color;
}
