.input {
  width: 100%;
  max-height: 150px;
  padding: 15.5px 15px;
  font: inherit;
  font-weight: 700;
  font-size: rem(15);
  line-height: rem(25);
  text-align: center;
  resize: vertical;
  outline: none;
  border: 1px solid $secondary-color;
  border-radius: 100px;
  background-color: #ffffff;
  line-height: normal;
  text-transform: uppercase;
  box-shadow: none;
  box-sizing: border-box;
  transition: 0.3s;

  &:hover,
  &:focus {
    border-color: darken(#ffffff, 10%);
  }

  &--fill-white {
    background-color: #ffffff;
  }

  &::placeholder {
    color: $base-color;
    opacity: 0.4;
  }

  @include mq-minh($vh-height-bp) {
    padding: vh(15.5) vh(15);
    font-size: vh(15);
  }
}
