.main-footer {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: rem(14);
  color: #ffffff;
  background-color: #4b4f53;
}

.main-footer__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  @include mq-min(568px) {
    justify-content: space-between;
    text-align: center;
  }
}

.main-footer__copy {
  margin: 0;
  margin-right: 10px;
}

.main-footer__dev {
  margin: 0;

  a {
    color: #ffffff;
    text-decoration: underline;
  }

  span {
    display: inline-block;
    vertical-align: middle;
    color: $danger-color;
    animation: heartbeat 2.2s infinite;
  }
}

@keyframes heartbeat {
  0%, 40%, 80%, 100% {
    transform: scale(.8);
  }
  20%, 60% {
    transform: scale(1);
  }
}
