.main-header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 25;
  padding-top: 8px;
  padding-bottom: 8px;
  transition: $duration * 2;

  .is-main-header-sticky & {
    background-color: #ffffff;
    box-shadow: 0 0px 15px rgba(#000000, 0.25);
  }

  @include mq-max(1023px) {
    .is-out-cover-opened.is-main-header-sticky & {
      box-shadow: none;
    }
  }

  @include mq-min(1024px) {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ffffff;

    .is-main-header-sticky & {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}

.main-header__inner {
  display: flex;
  align-items: center;

  @include mq-min(768px) {
    align-items: flex-end;

    .is-main-header-sticky & {
      align-items: center;
    }
  }
}

.main-header__logo {
  transition: $duration * 2;

  .is-main-header-sticky & {
    transform: scale(0.8);
  }
}

.main-header__contacts {
  margin: 0;
  margin-left: 20px;

  @include mq-min(1024px) {
    margin-left: vh(30);
  }
}

.main-header__phone {
  display: block;
  transform-origin: 0;
  font-weight: 700;
  font-size: rem(15);
  line-height: 1.15;
  text-decoration: none;
  color: $base-color;
  transition: $duration * 2;

  .is-out-cover-opened & {
    visibility: hidden;
    opacity: 0;
  }

  span {
    font-size: rem(24);
    vertical-align: sub;
    color: $accent-color-2;
  }

  &:hover,
  &:focus {
    color: $accent-color-2;
  }

  @include mq-min(375px) {
    font-size: rem(17);

    span {
      font-size: rem(32);
    }
  }

  @include mq-min(1024px) {
    font-size: vh(18);

    span {
      font-size: vh(36);
    }

    .is-main-header-sticky & {
      transform: scale(0.8);
    }
  }
}

.main-header__toggle {
  margin-left: auto;

  @include mq-min(1024px) {
    display: none;
  }
}

.main-header__nav {
  margin-left: auto;
  transform-origin: 100%;
  transition: $duration * 2;

  .is-main-header-sticky & {
    transform: scale(0.9);
  }

  @include mq-max(1023px) {
    display: none;
  }
}
