.main-nav {

}

.main-nav__list {
  @include clear-list();

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  a {
    position: relative;
    display: block;
    padding: vh(7) vh(10);
    font-weight: 700;
    font-size: vh(14);
    text-transform: uppercase;
    text-decoration: none;
    color: $base-color;
    user-select: none;
    transition: $duration * 1.5;

    &::before {
      content: "";
      position: absolute;
      bottom: vh(1);
      left: vh(10);
      right: vh(10);
      height: 4px;
      background-color: transparent;
      transition: $duration * 1.5;
    }

    &:hover,
    &:focus {
      &::before {
        background-color: $secondary-color;

        .homepage & {
          background-color: #077f43;
        }
      }
    }
  }

  // li:first-child a {
  //   border-radius: 100px;
  //   padding: calc(#{vh(7)} - 2px) calc(#{vh(25)} - 2px);
  //   background-color: $secondary-color;
  //   border: 2px solid transparent;

  //   &::before {
  //     content: none;
  //   }

  //   &:hover,
  //   &:focus {
  //     color: #ffffff;
  //     background-color: $accent-color;
  //   }
  // }

  .current-menu-item a {
    &::before {
      background-color: $accent-color;
    }
  }

  // .current-menu-item:first-child a {
  //   background-color: none;
  //   color: $base-color;
  //   border-color: $accent-color;

  //   &:hover,
  //   &:focus {
  //     color: $base-color;
  //     background-color: none;
  //   }
  // }
}
