.one-news {
}

.one-news__inner {
  @include mq-min(1024px) {
    max-width: vh(800);
    margin-left: auto;
    margin-right: auto;
  }
}

.one-news__back-to-news {
  margin-bottom: 45px;

  @include mq-min(768px) {
    margin-bottom: 85px;
  }
}

.one-news__header {
  margin-bottom: 50px;
}

.one-news__title {
  margin-bottom: 15px;
}

.one-news__date {
  font-weight: 700;
  font-size: rem(18);
}

.one-news__content {
}
