.out-cover {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: 20;
  padding: 20px;
  padding-top: 85px;
  // transform-origin: 0 50%;
  // transform: translateX(100%);
  transform: scale(1.2);
  color: $base-color;
  background-color: #ffffff;
  transition: $duration * 2;
  pointer-events: none;
  box-sizing: border-box;
  opacity: 0;
  visibility: hidden;
  will-change: transform, visibility;
  visibility: hidden;

  &--opened {
    // transform: translateX(0);
    transform: scale(1);
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
    // transition: transform 0.4s ease;
  }
}

.out-cover__inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.out-cover__close-wrapper {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

// .out-cover__close {
//   position: relative;
//   width: rem(24);
//   height: rem(20);
//   padding: 0;
//   padding-top: rem(8);
//   padding-bottom: rem(8);
//   // color: $white-color;
//   font-size: 0;
//   background-color: transparent;
//   background-clip: content-box;
//   border: none;
//   box-sizing: border-box;
//   cursor: pointer;
//   opacity: 0.8;
//   transition: opacity $duration;

//   &:hover,
//   &:focus {
//     opacity: 1;
//   }

//   &::before,
//   &::after {
//     content: "";
//     position: absolute;
//     left: 0;
//     top: rem(8);
//     width: 100%;
//     height: rem(4);
//     background-color: currentColor;
//   }

//   &::before {
//     transform: rotate(-45deg) scale(1.1);
//   }

//   &::after {
//     transform: rotate(45deg) scale(1.1);
//   }
// }

.out-cover__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  box-sizing: border-box;
}

.out-cover__main-nav-wrapper {

}
