.fancybox-caption {
  font-size: 22px;
  font-weight: 400;
  text-align: center;

  background: linear-gradient(to top, rgba(#000000, 0.5), rgba(#000000, 0.05) 100%);

  &::after {
    content: none;
  }
}

.slide-image-custom {
  .fancybox-content {
    background-color: #f4f4f4;
  }

  .fancybox-image {
    left: 20px;
    top: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
  }
}
