.page-action-panel {
  margin-bottom: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ffffff;
  overflow: hidden;
}

.page-action-panel__container {
  @include mq-min(568px) {
    display: flex;
    justify-content: space-between;
  }
}

.page-action-panel__left-column {
  max-width: 100%;
  margin-bottom: 32px;

  @include mq-min(568px) {
    margin-right: 24px;
    margin-bottom: 0;
  }

  @include mq-min(768px) {
    flex-shrink: 0;
    width: 275px;
    margin-right: 32px;
  }
}

.page-action-panel__right-column {
  flex-grow: 1;
  overflow: auto;
}
