.picking {

}

.picking__row {
  display: flex;
  margin-bottom: 10px;

  &--dashboard {
    margin-bottom: 40px;
    background-color: #ffffff;
  }
}

.picking__dashboard {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.picking__dashboard-left-col {
  margin-right: 30px;
}

.picking__dashboard-right-col {

}
