.plans-flat-slider {
  &.is-fullscreen {
    z-index: 30;
  }
}

.carousel-cell img {
}

.plans-flat-slider__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  img {
    display: block;
    height: 570px;
    object-fit: contain;
  }

  .is-fullscreen & {
    height: 100%;
    background: #ffffff;

    img {
      height: 100%;
    }
  }
}

.plans-flat-slider__picture {

}
