.request-price-form {
  margin-left: -27px;
  margin-right: -27px;
  padding: 25px 27px;
  background-color: $gray-245;
}

.request-price-form__title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: rem(18);
  text-transform: uppercase;
  text-align: center;
  color: $brown-color;

  @include mq-min (1280px) {
    font-size: vh(18);
  }
}

.request-price-form__field {
  margin-bottom: 10px;

  input {
    text-transform: uppercase;
    text-align: center;
    border-color: transparent;
  }
}

.request-price-form__submit {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
}

.request-price-form__agree {
  font-size: rem(12);

  @include mq-min (1280px) {
    font-size: vh(12);
  }
}
