.section-functional-plans {

  @include mq-min(1024px) {
    padding-top: vh(70);
    padding-bottom: vh(70);
  }
}

.section-functional-plans__inner {

}

.section-functional-plans__title {
  text-align: center;
  margin-bottom: 25px;
}

.section-functional-plans__intro {
  font-size: rem(18);
  text-align: center;

  @include mq-min(768px) {
    max-width: vh(630);
    margin-left: auto;
    margin-right: auto;
  }
}

.section-functional-plans__slider {
}
