.view-mode-buttons {
  display: flex;
  border-radius: $border-radius;
  overflow: hidden;

  input {
    @include visually-hidden();
  }

  label {
    padding: 5px;
    text-align: center;
    color: $gray-189;
    user-select: none;
    transition: $duration;
  }

  input:hover + label,
  input:focus + label {
    color: $gray-169;
  }

  input:checked + label {
    color: #003d58;
  }
}

.view-mode-buttons__icon {
  display: block;
  width: 24px;
  height: 24px;
  fill: currentColor;
}
